@import '../../assets/scss/base.scss';

.section-not-only {
  background: url('../../assets/images/section-not-only/background.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding-top: 60px;

  @include header(dark);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;

    &-block {
      width: 460px;
      text-align: left;
      margin-bottom: 80px;

      &-header {
        @include h2;
        color: $color-light-xl;
      }

      &-paragraph {
        margin: 41px 0;
        @include paragraph-l;
        color: $color-dark-s;
      }

      &-link {
        @include button-text(dark);
      }
    }

    &-image {
      display: flex;
    }
  }
}

.section-about {
  padding-top: 80px;
  padding-bottom: 98px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;

    &-block {
      margin-left: 120px;
      width: 430px;
      text-align: left;

      &-header {
        @include h3;
        color: $color-dark-l;
        margin-top: 2px;
      }

      &-paragraph {
        @include paragraph-l;
        color: $color-dark-xl;
        margin-bottom: 4px;

        &:first-of-type {
          margin: 25px 0;
        }
      }
    }
  }
}

.section-our-friends {
  padding-top: 80px;
  padding-bottom: 98px;
  background-color: $color-light-l;

  &__content {
    &-header {
      @include h3;
      color: $color-dark-l;
    }

    &-slider {
      margin: 60px 0;
      @include slider-line;
    }

    &-link {
      @include button-text(dark, false);
    }
  }
}

.section-help {
  padding-top: 80px;
  padding-bottom: 100px;

  &__content {
    &-header {
      @include h3;
      color: $color-dark-l;
    }

    &-collection {
      margin-top: 60px;
      display: flex;
      list-style: none;
      justify-content: center;
      flex-wrap: wrap;

      &-item {
        margin: 0 60px;

        &:nth-child(n+6) {
          margin-top: 54px;
        }

        &-description {
          margin-top: 28px;

          &-text {
            @include h4;
            color: $color-dark-l;
          }
        }
      }
    }
  }
}

.section-in-addition {
  padding-top: 82px;
  padding-bottom: 102px;
  background-color: $color-light-s;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;

    &-block {
      margin-left: 30px;
      text-align: left;
      width: 380px;

      &-header {
        @include h3;
        color: $color-dark-l;
      }

      &-text {
        margin-top: 20px;
        @include h5;
        color: $color-dark-l;
      }

      &-link {
        margin-top: 19px;
        background-color: $color-primary;
        border-radius: 9px;
        padding: 10px 15px;
        display: flex;
        width: fit-content;
        align-items: center;
        cursor: pointer;
        transition: all $transition-short;

        &:hover {
          background-color: $color-primary-light;
        }

        &-logo {
          display: inline-block;
          width: 30px;
          height: 23px;
          background-image: url('../../assets/images/section-in-addition/icons/credit-card.svg');
        }

        &-text {
          @include h4;
          color: $color-dark-l;
          margin-left: 15px;
        }
      }

      &-footer {
        margin-top: 20px;
        @include paragraph-s;
        color: $color-dark-m;
        font-style: italic;
      }
    }
  }
}

.section-footer {
  @include footer;
}