$color-white: #fff;
$color-black: #000;
$color-purple-main: #530074;
$color-purple-dark: #36004B;
$color-green-light: #A4D05E;
$color-green-lighter: #94D034;
$color-green-main: #63A100;
$color-green-darker: #56791E;
$color-green-dark: #416900;
$color-pink-light: #C85A90;
$color-pink-neon: #FC3BFC;
$color-blue-lighter: #582FBB;

$transition-short: 0.15s;
$transition-default: 0.25s;
$transition-long: 0.5s;