@import './scss/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Nunito', sans-serif;
  color: $color-white;
  background-color: $color-purple-main;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#app {
  height: calc(100% - 7.5rem);

  @include media-md {
    height: calc(100% - 4.5rem);
  }
}

.view {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2rem 6.5rem;
  align-items: center;
  justify-content: center;

  @include media-md {
    padding: 1rem 4.5rem;
  }

  &__content {
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 125rem;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 3rem;
      user-select: none;
      height: 4.5rem;
      line-height: 4.5rem;
      text-shadow: 0 0 3px $color-black;

      @include media-sm {
        flex-direction: column;
        font-size: 2rem;
        line-height: 2.5rem;
        height: 7.5rem;
      }

      & > * {
        min-width: 25rem;
        text-align: center;
      }

      &-mode {
        height: 100%;
        position: relative;
        overflow: hidden;

        .route-statistics & > * {
          transform: translateY(-100%);
        }

        &-game {
          display: flex;
          justify-content: center;
          position: absolute;
          width: 100%;
          transition: transform $transition-default ease-in-out;

          &-separator {
            margin: 0 0.5rem;
          }

          &-button {
            color: $color-white;
            opacity: 0.25;
            transition: opacity $transition-default ease-in-out;
            cursor: pointer;

            .mode-train &--train {
              opacity: 1;
              animation: 4s linear 0s infinite neon;
            }

            .mode-play &--play {
              opacity: 1;
              animation: 4s linear 0s infinite neon;
            }
          }
        }

        &-statistics {
          position: absolute;
          width: 100%;
          font-size: 2.5rem;
          top: 100%;
          transition: all $transition-default ease-in-out;
          cursor: pointer;

          @include media-sm {
            font-size: 2rem;
          }

          &:hover {
            text-shadow: 0 0 5px #fff;
          }
        }
      }

      &-game {
        height: 100%;
        position: relative;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        transition: all $transition-default ease-in-out;

        .route-category.mode-play &,
        .route-statistics & {
          visibility: visible;
          opacity: 1;
          z-index: 1;
        }

        .game-active & > * {
          transform: translateY(-100%);
        }

        .route-statistics & > * {
          transform: translateY(-200%);
        }

        &-button {
          position: absolute;
          width: 100%;
          transition: all $transition-default ease-in-out, opacity $transition-short;
          will-change: transform;
          cursor: pointer;

          &:hover {
            text-shadow: 0 0 5px $color-white;
          }

          &:active {
            opacity: 0.5;
          }

          &:nth-of-type(2) {
            top: 100%;
          }

          &:nth-of-type(3) {
            top: 200%;
          }
        }
      }
    }

    &-stats {
      display: flex;
      height: 3rem;
      overflow: hidden;
      flex-wrap: wrap;

      @include media-sm {
        height: 2rem;
        margin: 0.5rem 0;
      }

      &-item {
        height: 3rem;
        width: 3rem;
        margin: 0 1rem;
        background-size: contain;
        background-position: center;

        @include media-sm {
          height: 2rem;
          width: 2rem;
          margin: 0 0.5rem;
        }

        &--success {
          background-image: url('./assets/img/success.svg');
        }

        &--wrong {
          background-image: url('./assets/img/wrong.svg');
        }
      }
    }

    &-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      transition: all $transition-long ease-in-out;
      will-change: transform;
      overflow-y: auto;
      max-height: calc(100% - 7.5rem);

      @include media-md {
        max-height: calc(100% - 10.5rem);
      }

      &-item {
        margin: 2rem;
        width: 25rem;
        height: 18rem;
        user-select: none;
        perspective: 750px;
        text-shadow: 0 0 2px $color-black;
        font-size: 2.5rem;
        transition: all $transition-default ease-in-out;

        @include media-md {
          margin: 1rem;
          width: 20rem;
          height: 15rem;
          font-size: 2rem;
        }

        $item: &;

        &.inactive {
          opacity: 0.25;
          filter: grayscale(1);
        }

        &-inner {
          height: 100%;
          position: relative;
          border-radius: 1rem;
          transition: transform $transition-long ease-in-out, box-shadow $transition-default ease-in-out;
          transform-style: preserve-3d;
          background-color: $color-pink-light;
          will-change: transform, box-shadow;
          box-shadow: 0 0 5px 0 $color-white;

          #{$item}:hover:not(.inactive) & {
            box-shadow: 0 0 15px 4px $color-white;

            @include media-md {
              box-shadow: 0 0 10px 3px $color-white;
            }
          }

          #{$item}:hover.available & {
            transform: rotateX(-180deg);
          }

          &-front {
            display: flex;
            flex-direction: column;
            height: 100%;
            border-radius: inherit;
            cursor: pointer;
            overflow: hidden;

            #{$item}.inactive & {
              cursor: not-allowed;
            }

            &-image {
              height: 100%;
              background-color: $color-black;
              background-position: center;
              background-size: cover;
            }

            &-footer {
              height: 4rem;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              transition: height $transition-long ease;
              will-change: height;
              line-height: 4rem;
              overflow: hidden;

              @include media-md {
                line-height: 3rem;
                height: 3rem;
              }

              .mode-play & {
                height: 0;
              }

              &-button {
                position: absolute;
                right: 1rem;
                width: 2.5rem;
                height: 2.5rem;
                background-image: url('./assets/img/flip.svg');
                background-position: center;
                background-size: contain;
                filter: invert(1);
                opacity: 0.55;
                transition: opacity $transition-short;

                @include media-md {
                  width: 2rem;
                  height: 2rem;
                }

                &:hover {
                  opacity: 1;
                }
              }
            }
          }

          &-back {
            transform: rotateX(180deg);
            border-radius: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 125%;
            background-color: inherit;
          }

          &-front, &-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
          }
        }
      }

      &-table {
        table-layout: fixed;
        font-size: 2rem;
        border-collapse: collapse;
        user-select: none;
        min-width: 100%;

        @include media-md {
          font-size: 1.5rem;
        }

        &-header {
          &-cell {
            padding: 1rem 2.5rem;
            position: sticky;
            top: 0;
            background-color: $color-purple-main;
            min-width: 15rem;
            cursor: pointer;

            @include media-md {
              padding: 0.5rem 2.25rem;
              min-width: 10rem;
            }

            $cell: &;

            &:nth-of-type(n + 4) {
              min-width: auto;
            }

            &-sort {
              height: 2rem;
              width: 2rem;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              background-position: center;
              background-size: cover;
              filter: invert(1);

              @include media-md {
                height: 1.5rem;
                width: 1.5rem;
              }

              #{$cell}.sort-asc & {
                background-image: url('./assets/img/sort-asc.svg');
              }

              #{$cell}.sort-desc & {
                background-image: url('./assets/img/sort-desc.svg');
              }
            }
          }
        }

        &-row {
          &-cell {
            padding: 0.5rem 0;
            text-align: center;

            @include media-md {
              padding: 0.25rem 0;
            }
          }
        }
      }
    }
  }

  &__popup {
    position: absolute;
    top: 7.5rem;
    width: 100%;
    height: calc(100% - 7.5rem);
    background-color: $color-purple-main;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all $transition-default ease-in-out;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    font-size: 5rem;
    user-select: none;

    .popup-show & {
      visibility: visible;
      opacity: 1;
      z-index: 1;
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  height: 0;
  width: 100%;
  z-index: 1;
  user-select: none;

  &__toggle {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;

    @include media-md {
      top: 1.5rem;
      left: 1.5rem;
    }

    &-icon {
      width: 3rem;
      height: 3rem;
      display: flex;
      z-index: 1;
      cursor: pointer;
      transition: transform $transition-default;

      &:hover {
        transform: rotate(45deg) scale(1.25);
      }

      &:active {
        opacity: 0.75;
      }

      &-image {
        filter: invert(1);
        width: 100%;
      }
    }
  }

  &__background {
    height: 100vh;
    width: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity $transition-default ease-in-out;
    visibility: hidden;
    z-index: -1;
    cursor: pointer;

    .menu-show & {
      z-index: 1;
      visibility: visible;
      opacity: 0.75;
    }
  }

  &__collection {
    width: 300px;
    z-index: 2;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: $color-green-main;
    transform: translateX(-100%);
    will-change: auto;
    transition: all .25s ease-in-out;
    overflow-y: auto;

    .menu-show & {
      transform: initial;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0.5rem 0;
      cursor: pointer;
      position: relative;
      padding: 0.5rem 0;

      &:before {
        display: block;
        content: '';
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: $color-green-dark;
        transition: opacity $transition-default ease-in-out, background-color $transition-short;
        z-index: -1;
        transform-origin: left;
      }

      &:hover, &.active {
        &:before {
          opacity: 1;
        }
      }

      &:active, &.active {
        &:before {
          background-color: $color-green-darker;
        }
      }

      &-icon {
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 1.5rem;
        filter: invert(1);

        img {
          width: 100%;
          height: 100%;

        }

        &--close {
          flex-grow: 1;
          padding: 1rem;
          height: 5rem;
        }
      }

      &-text {
        flex-grow: 1;
        font-size: 2.25rem;
        line-height: 3rem;
      }
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.5rem;
  background-color: $color-purple-dark;
  font-size: 2rem;

  @include media-md {
    height: 4.5rem;
  }

  &-logo {
    width: 10rem;
    margin-right: 10rem;
    filter: invert(1);

    @include media-sm {
      margin-right: 2rem;
    }

    &-wrapper {
      display: flex;
      width: 100%;

      &-image {
        width: 100%;
      }
    }
  }

  &-text {
    &-link {
      font-size: 3rem;
      color: $color-white;
    }
  }
}