$font-weight-thin: 200;
$font-weight-medium: 500;
$font-weight-bold: 900;

$transition-short: 0.15s;
$transition-default: 0.25s;
$transition-long: 0.5s;

$color-main-background: #16a652;
$color-white: #fff;
$color-black: #000;

