@import '../../assets/scss/base.scss';

.section-header {
  padding-top: 30px;
  padding-bottom: 30px;
  position: sticky;
  top: 0;
  background-color: $color-light-xl;
  z-index: 5;

  .menu-open & {
    position: static;
    padding-top: 90px;

    @include header(dark);
  }

  @include header(light);
}

.our-friends {
  background-color: $color-light-l;
  padding-top: 80px;
  padding-bottom: 98px;

  @include media-md {
    padding-bottom: 74px;;
  }

  @include media-sm {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  &__content {
    &-header {
      margin-bottom: 60px;
      @include h3;
      color: $color-dark-l;

      @include media-md {
        margin-bottom: 30px;
      }

      @include media-sm {
        @include h3-mobile;
        margin-bottom: 42px;
      }
    }

    &-slider {
      @include slider-full;
    }
  }
}

.section-footer {
  @include footer;
}