@import 'mixins.scss';

html, body {
  font-size: 7px;
}

body.lock-scroll {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

.main__wrapper {
  text-align: center;
}

.section__wrapper {
  width: 100%;
  max-width: 1280px;
  text-align: center;
  margin: 0 auto;

  @include media-md {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include media-sm {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.section__container {
  max-width: 1200px;
  margin: 0 auto;
}

@include menu;

@include popup;