@import 'variables.scss';

@font-face {
  font-family: 'Arial Regular';
  src: local('Arial'),
  url('../../assets/fonts/arial.woff2') format('woff2'),
  url('../../assets/fonts/arial.woff') format('woff');
}

@font-face {
  font-family: 'Georgia Regular';
  src: local('Georgia'),
  url('../../assets/fonts/georgia.woff2') format('woff2'),
  url('../../assets/fonts/georgia.woff') format('woff');
}

@mixin media-sm {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin media-md {
  @media screen and (max-width: 1279px) {
    @content;
  }
}

@mixin font($family, $size: false, $line-height: normal, $weight: normal,  $style: normal) {
  font-family: $family;
  font-weight: $weight;
  font-style: $style;
  line-height: $line-height;

  @if $size {
    font-size: $size;
  }
}

@mixin h2 {
  @include font($font-georgia, 44px, 130%);
  letter-spacing: initial;
}

@mixin h3 {
  @include font($font-georgia, 35px, 130%);
  letter-spacing: $letter-spacing-default;
}

@mixin h3-mobile {
  @include font($font-georgia, 25px, 130%);
  letter-spacing: $letter-spacing-default;
}

@mixin h4 {
  @include font($font-georgia, 20px, 115%);
  letter-spacing: $letter-spacing-default;
}

@mixin h5 {
  @include font($font-georgia, 15px, 110%);
  letter-spacing: $letter-spacing-default;
}

@mixin h5-mobile-window {
  @include font($font-georgia, 15px, 110%);
  letter-spacing: $letter-spacing-default;
}

@mixin paragraph-l {
  @include font($font-arial, 15px, 160%);
  letter-spacing: initial;
}

@mixin paragraph-s {
  @include font($font-arial, 12px, 150%);
  letter-spacing: initial;
}

@mixin paragraph-mobile-menu {
  @include font($font-arial, 32px, 160%);
  letter-spacing: initial;
}

@mixin logo_title {
  @include font($font-georgia, 32px, 110%);
  letter-spacing: $letter-spacing-default;
}

@mixin logo_subtitle {
  @include font($font-arial, 13px);
  letter-spacing: $letter-spacing-wide;
}

@mixin button-text($theme: light, $withBorder: true) {
  $isDark: if($theme != light, true, false);

  $buttonBackgroundColor: if($isDark, $color-primary, transparent);
  $buttonPaddings: if($withBorder, 13px 42px, 15px 45px);

  display: inline-block;
  border-radius: 100px;
  padding: $buttonPaddings;
  @include font($font-georgia, 17px, 130%);
  letter-spacing: $letter-spacing-default;
  background-color: $buttonBackgroundColor;
  color: $color-dark-3xl;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;

  @if $withBorder {
    border: 2px solid $color-primary;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $color-primary-light;
    border-radius: 100px;
    transform: scale(0);
    transition: all $transition-short;
    z-index: -1;
  }

  &:hover {
    @if $withBorder {
      border: 2px solid $color-primary-light;
    }

    &::before {
      transform: none;
    }
  }
}

@mixin button-circle {
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  border: 2px solid $color-primary;
  transition: all $transition-short;
  cursor: default;
  user-select: none;
  display: inline-block;

  &:not(&--inactive):hover {
    border-color: $color-primary-light;
    background-color: $color-primary-light;
    cursor: pointer;

    &:active {
      border-color: $color-primary;
      background-color: $color-primary;
    }
  }
}

@mixin menu-item($colorLink, $colorLinkActive, $isDark: false) {
  list-style: none;
  margin-left: 36px;
  position: relative;

  $parentBlock: &;

  &::after {
    content: '';
    display: block;
    height: 0;
    background-color: $color-primary;
    transition: all $transition-short;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  &:active, &--active {
    &::after {
      height: 3px;
    }
  }

  &-link {
    @include paragraph-l;
    color: $colorLink;
    cursor: pointer;
    transition: all $transition-short;

    $link: &;

    @include media-sm {
      @include paragraph-mobile-menu;
    }

    #{$parentBlock}:hover &, #{$parentBlock}--active & {
      color: $colorLinkActive;
    }

    @if ($isDark == false) {
      #{$parentBlock}:active &, #{$parentBlock}--active & {
        color: $colorLink;
      }
    }
  }
}

@mixin header($theme: dark) {
  $isDark: if($theme == dark, true, false);

  $colorTitle: if($isDark, $color-primary, $color-dark-l);
  $colorSubTitle: if($isDark, $color-light-xl, $color-dark-3xl);
  $colorLink: if($isDark, $color-dark-s, $color-dark-l);
  $colorLinkActive: if($isDark, $color-light-l, $color-dark-3xl);

  &__header {
    display: flex;
    justify-content: space-between;
    height: 60px;

    .menu-open & {
      position: fixed;
      top: 30px;
      right: 10px;
      z-index: 10;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;

      &-text {
        @include logo_title;
        color: $colorTitle;
        margin: 0;
      }

      &-description {
        @include logo_subtitle;
        color: $colorSubTitle;
        margin: 0;
      }
    }

    &-navigation {
      padding-top: 16px;

      @include media-sm {
        display: none;
      }

      &-collection {
        display: flex;

        &-item {
          @include menu-item($colorLink, $colorLinkActive, $isDark);
        }
      }
    }

    &-mobile {
      display: none;

      padding-top: 20px;
      padding-right: 43px;

      .menu-open & {
        padding-left: 43px;
      }

      $menu: &;

      @include media-sm {
        display: block;
      }

      &-button {
        width: 30px;
        display: flex;
        row-gap: 8px;
        flex-direction: column;
        cursor: pointer;
        transition: transform $transition-long;

        $button: &;

        &:hover {
          transform: scale(1.1);

          &:active {
            opacity: .75;
          }
        }

        &:after, &:before, &-content {
          content: '';
          display: block;
          height: 2px;
          width: 100%;
          background-color: $color-primary;
          transition: all $transition-short;
        }

        &.menu-open {
          transform: rotate(90deg);
        }
      }
    }
  }
}

@mixin footer {
  background: url('../../assets/images/section-footer/background.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  padding-top: 40px;

  @include media-md {
    padding-top: 30px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;

    @include media-md {
      grid-template-columns: repeat(2, auto);
      gap: 65px 60px;
      justify-content: center;
    }

    @include media-sm {
      grid-template-columns: repeat(1, auto);
      row-gap: 40px;
    }

    &-block {
      text-align: left;
      padding-top: 18px;

      $parentBlock: &;

      @include media-md {
        padding-top: 0;
      }

      &-header {
        @include h3;
        color: $color-light-xl;

        @include media-sm {
          text-align: center;
          @include h3-mobile;
          max-width: 270px;
          margin: auto;

          br {
            display: none;
          }
        }
      }

      &-link {
        display: flex;
        align-items: center;
        width: max-content;
        margin-top: 40px;
        cursor: pointer;

        @include media-sm {
          margin: 40px auto 0;
        }

        #{$parentBlock}--second & {
          margin-top: 33px;

          @include media-sm {
            margin-top: 40px;
          }
        }

        &-text {
          margin-left: 20px;
          @include h4;
          color: $color-primary;

          #{$parentBlock}--second & {
            width: 260px;
          }
        }
      }

      &-image {
        display: flex;

        @include media-md {
          grid-column-start: span 2;
          justify-content: center;
          max-width: 300px;
          margin: auto;
        }

        @include media-sm {
          grid-column-start: initial;
          width: 86%;
          margin: auto;
        }

        * {
          width: 100%;
        }
      }
    }
  }
}

@mixin slider-item {
  background-color: $color-light-s;
  border-radius: 9px;
  overflow: hidden;
  cursor: pointer;
  transition: background $transition-short, box-shadow $transition-short;

  &:hover {
    background-color: $color-light-xl;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  }

  &-image {
    height: 270px;
  }

  &-description {
    padding: 30px;

    &-name {
      @include h4;
      color: $color-dark-l;
    }

    &-button {
      margin-top: 30px;
      @include button-text;
    }
  }
}

@mixin slider-full() {
  &-nav {
    margin-top: 60px;
    display: flex;
    justify-content: center;

    @include media-md {
      margin-top: 40px;
    }

    @include media-sm {
      column-gap: 10px;
    }

    &-item {
      @include button-circle;
      @include h4;
      margin: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include media-sm {
        margin: 0;
      }

      &--active {
        background-color: $color-primary !important;
        border-color: $color-primary !important;
        cursor: initial !important;
      }

      &--inactive {
        border-color: $color-dark-s !important;
        color: $color-dark-s !important;
        cursor: initial !important;
        background-color: unset !important;
      }
    }
  }

  &-collection {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    justify-content: space-between;
    gap: 28px 40px;

    @include media-md {
      grid-template-columns: repeat(2, 270px);
      justify-content: center;
    }

    @include media-sm {
      grid-template-columns: repeat(1, 270px);
    }

    &-item {
      @include slider-item;
      transition: background $transition-short, opacity $transition-short;

      .loading & {
        opacity: 0;
      }

      @include media-md {
        &:nth-of-type(n+7) {
          display: none;
        }
      }

      @include media-sm {
        &:nth-of-type(n+4) {
          display: none;
        }
      }
    }
  }
}

@mixin slider-line {
  display: flex;
  justify-content: center;
  position: relative;

  &-nav {
    position: absolute;
    top: 50%;
    width: 100%;

    @include media-sm {
      position: static;
      margin-top: 20px;
      height: 52px;
      display: flex;
      column-gap: 80px;
      justify-content: center;
    }

    &-button {
      @include button-circle;
      position: absolute;
      transform: translateY(-50%);

      @include media-sm {
        position: static;
        transform: none;
      }

      &--left {
        background-image: url('../../assets/images/section-our-friends/icons/arrow-left.svg');
        left: 0;
      }

      &--right {
        background-image: url('../../assets/images/section-our-friends/icons/arrow-right.svg');
        right: 0;
      }
    }
  }

  &-collection {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    column-gap: 90px;

    @include media-md {
      grid-template-columns: repeat(2, 270px);
      column-gap: 40px;
    }

    @include media-sm {
      grid-template-columns: repeat(1, 270px);
    }

    &-item {
      @include slider-item;
      opacity: 1;
      transition: background $transition-short, box-shadow $transition-short, opacity $transition-short;

      @include media-md {
        &:last-of-type {
          display: none;
        }
      }

      .loading & {
        opacity: 0;
      }

      @include media-sm {
        &:nth-of-type(n+2) {
          display: none;
        }
      }
    }

  }
}

@mixin menu {
  .menu__container {
    height: 0;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    $container: &;

    &.active {
      height: 100vh;
    }

    &-background {
      height: 100vh;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      background-color: $color-dark-3xl;
      transition: opacity $transition-short;

      #{$container}.active & {
        z-index: 1;
        opacity: .6;
        visibility: visible;
      }
    }

    &-block {
      height: 100vh;
      width: 320px;
      position: fixed;
      left: 100%;
      top: 0;
      background-color: $color-dark-3xl;
      transition: all $transition-short;
      display: flex;
      flex-direction: column;
      will-change: transform;
      overflow-y: auto;
      align-items: center;

      #{$container}.active & {
        transform: translateX(-100%);
      }

      &-navigation {
        transition: transform $transition-short;
        will-change: transform;
        height: 100%;
        width: 100%;

        &-collection {
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          height: 100%;
          justify-content: center;
          align-items: center;

          &-item {
            @include menu-item($color-dark-s, $color-light-l);
            margin-left: unset;
          }
        }
      }
    }
  }
}

@mixin popup {
  .popup {
    height: 0;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    $container: &;

    &.active {
      height: 100vh;
    }

    &__background {
      height: 100vh;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      background-color: $color-dark-3xl;
      transition: opacity $transition-short;

      #{$container}.active & {
        z-index: 1;
        opacity: .6;
        visibility: visible;
      }
    }

    &__close {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      @include button-circle;
      transform: translate(466px, -276px);
      background-image: url('../../assets/images/icons/close.svg');

      @include media-md {
        transform: translate(332px, -201px);
      }

      @include media-sm {
        transform: translate(124px, -196px);
      }
    }

    &__content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      transform: scale(0);
      width: 900px;
      height: 500px;
      background-color: $color-light-s;
      border-radius: 9px;
      overflow: hidden;
      display: grid;
      grid-template-columns: 500px 390px;
      column-gap: 10px;

      @include media-md {
        width: 630px;
        height: 350px;
        grid-template-columns: 350px 280px;
        column-gap: unset;
      }

      @include media-sm {
        width: 240px;
        height: 340px;
        grid-template-columns: 240px;
        text-align: center;
        overflow-y: auto;
      }

      #{$container}.active & {
        transform: scale(1);
        transition: transform $transition-short;
      }

      &-image {
        height: 100%;
        width: 100%;
        display: flex;

        @include media-sm {
          display: none;
        }

        &-img {
          height: 100%;
          width: 100%;
        }
      }

      &-block {
        padding: 50px 20px 0;

        @include media-md {
          padding: 10px 10px 0;
        }

        @include media-sm {
          padding: 10px;
        }

        &-name {
          @include h3;
        }

        &-type {
          @include h4;
          margin-top: 10px;
        }

        &-description {
          @include h5;
          margin-top: 40px;

          @include media-md {
            margin-top: 20px;
            font-size: 13px;
          }

          @include media-sm {
            text-align: justify;
            line-height: 115%;
          }
        }

        &-extra {
          margin-top: 40px;
          list-style: none;
          display: flex;
          flex-direction: column;
          row-gap: 12px;

          @include media-md {
            margin-top: 20px;
            row-gap: 7px;
          }

          @include media-sm {
            margin-top: 24px;
            text-align: left;
          }

          &-item {
            display: flex;
            align-items: center;
            @include h5-mobile-window;

            &-icon {
              width: 4px;
              height: 4px;
              background: $color-primary;
              border-radius: 50%;
            }

            &-text {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}